ion-content{
    ion-card{
        height: 520px;
        ion-card-header{
            ion-card-title{
                font-size: 1.5em;
            }
            ion-card-subtitle{
                font-size: 1.2em;
            }
        }
    }
}