<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Parque de Luminárias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="createRoute()">
        <ion-icon name="car"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="completeRoute()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="openDiv()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-button (click)="clear()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div
  class="leaflet"
  leaflet
  [leafletOptions]="mapOptions"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="onClickMap($event)"
  ></div>

  @if (create) {
    <div class="card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>New Marker</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="content">
            <ion-list>
              <ion-item>
                <ion-input type="number" placeholder="lat" [(ngModel)]="lat" fill="outline"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-input type="number" placeholder="lgn" [(ngModel)]="lng" fill="outline"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-input type="text" placeholder="What" [(ngModel)]="popup" [clearInput]="true" fill="solid"></ion-input>
              </ion-item>
            </ion-list>
          </div>

          <div class="button">
            <ion-button mode="ios" (click)="generateMarker()" id="present-alert">CRIAR</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  }
</ion-content>
