<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Leaflet </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="getRoute()">
        <ion-icon name="car"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="clearRoutes()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div
    class="leaflet"
    leaflet
    [leafletOptions]="mapOptions"
    (leafletMapReady)="onMapReady($event)"
    (leafletClick)="onClickMap($event)"
  ></div>
</ion-content>
